.schedule-container {
  padding:40px 24px;
  max-width: 860px;
  margin: 0 auto;
  font-family: 'Pretendard', sans-serif;
  background-color: #f9f9f9;
}

.schedule-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

.schedule-title {
  font-size: 28px;
  margin-bottom: 24px;
  color: #222;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
}

.schedule-controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

.schedule-controls select {
  padding: 6px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 3px;
  font-size: 15px;
  table-layout: fixed;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 10px 12px;
  text-align: center;
  white-space: nowrap;
}

.schedule-table thead {
  background-color: #f1f1f1;
  font-weight: bold;
}

.schedule-table tr:nth-child(even) {
  background-color: #fcfcfc;
}
.date-row td {
  border-top: 2px solid #d6d6d6 !important;  
}
.date-cell {
  background-color: #d5e6f1;
  font-weight: bold;
  color: #333;
  vertical-align: middle;
  font-size: 15px;
  padding: 12px 8px;
}
.score {
  font-weight: 500;
  color: #d84843;
}

.tv {
  color: #555;
}

.score-red {
  color: red;
}

.score-blue {
  color: blue;
}

.score-vs {
  color: black;
}

@media (prefers-color-scheme: dark) {
  .schedule-container,
  .schedule-card,
  .schedule-title,
  .schedule-table,
  .schedule-table th,
  .schedule-table td,
  .date-cell {
    color: #111 !important;
  }
}

